// SearchFamily.scss
#searchFamily.pageContent {
  .container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: #e1e5e8;
    min-height: 600px;
    height: calc(100vh - 93.6px - 1rem);
    .searchContainer {
      display: flex;
      gap: 1rem;
      width: 75%;
      background: white;
    }

    .tableContainer {
      margin-top: 2rem;
      padding: 1.5rem 0;
      width: 600px;
      display: flex;
      justify-content: center;
    }

    .resultItem {
      text-decoration: none;
      color: black;
    }
  }
}
